#container {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    background-image: url(https://images.pexels.com/photos/1350511/pexels-photo-1350511.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
 } 
 #overlay{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 2;
 }
 #banner{
    padding-bottom: 1.5%;
}
#banner > h1{
    border: 2px solid white;
    width:20%;
    height: 20%;
    margin-left: 20%;
    margin-top: 10%;
    padding-bottom: 1%;
    text-align: center;
    color: white;
}
#banner > h1:hover{
    background-color: rgba(221, 109, 35, 0.678);
    color: rgba(0, 35, 122, 0.7);
}
#topright{
    height: 1px;
    width: 1px;
    padding-bottom: 20%;
    top: 0px;
    position:absolute;
    background-color: grey;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
 }
 nav > ul{
    text-align: right;
    display: inline-flex;
}
nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.733);
    }
    nav>ul>li>a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgba(221, 109, 35, 0.678);
        color: rgba(0, 35, 122, 0.7);
        }
